In [24]:
import pandas as pd
l = ["this is my laptop", "I am saumya"]
for i in l:
    b=i.split()
    #print(b)
    for j in b:
        print(j[0])

t
i
m
l
I
a
s

### q3: Add new columns as max_num and subject and find the max_num across each subject of a student and the name of the subject with max num:
df.pd.DataFrame({"student_id" : (1,2,3,4,5), "s1":(67,34,89,50,30), "s2":(87,56,45,90,20),"s3":(41,67,90,45,98)})
student id  s1  s2  s3  max_num subject
     1      67  87  41     87     s2
     2      34  56  67     67     s3
     3      89  45  90     90     s3
     4      50  90  45     90     s2
     5      30  20  98     98     s3

In [16]:
df = pd.DataFrame({"student_id" : (1,2,3,4,5), "s1":(67,34,89,50,30), "s2":(87,56,45,90,20),"s3":(41,67,90,45,98)})

In [17]:
df

   student_id  s1  s2  s3
0           1  67  87  41
1           2  34  56  67
2           3  89  45  90
3           4  50  90  45
4           5  30  20  98

In [33]:
df.groupby("student_id").s1.max()

student_id
1    67
2    34
3    89
4    50
5    30
Name: s1, dtype: int64

In [26]:
df[["s1","s2", "s3"]].max()

s1    89
s2    90
s3    98
dtype: int64

In [31]:
max_s1 = max(df['s1'])

In [28]:
max_s1

89